aerich==0.7.1
aiofiles==22.1.0
aioredis==2.0.1
aiosmtplib==1.1.7
aiosqlite==0.17.0
anyio==3.6.2
async-timeout==4.0.2
asyncpg==0.27.0
Babel==2.11.0
bcrypt==4.0.1
blinker==1.5
boto3==1.26.36
botocore==1.29.36
cachetools==5.2.0
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.1.1
click==8.1.3
cryptography==38.0.3
cssselect==1.2.0
cssutils==2.6.0
dictdiffer==0.9.0
dnspython==2.2.1
ecdsa==0.18.0
email-validator==1.3.0
fastapi==0.85.1
getenv==0.2.0
h11==0.14.0
httptools==0.5.0
idna==3.4
install==1.3.5
iso8601==1.1.0
Jinja2==3.1.2
jmespath==1.0.1
lxml==4.9.2
MarkupSafe==2.1.1
passlib==1.7.4
pendulum==2.1.2
premailer==3.10.0
pyasn1==0.4.8
pycparser==2.21
pydantic==1.10.2
pypika-tortoise==0.1.6
python-dateutil==2.8.2
python-dotenv==0.21.0
python-jose==3.3.0
python-multipart==0.0.5
pytz==2022.5
pytzdata==2020.1
PyYAML==6.0
requests==2.28.1
rsa==4.9
s3transfer==0.6.0
six==1.16.0
sniffio==1.3.0
starlette==0.20.4
tomlkit==0.11.6
tortoise-orm==0.19.2
typing_extensions==4.4.0
-e git+https://github.com/HAtherlolz/fast_api_test.git@46832c46661e7644a7c66380da843269acdeeb02#egg=UNKNOWN
urllib3==1.26.13
uvicorn==0.19.0
uvloop==0.17.0
watchfiles==0.18.1
websockets==10.4
